[package]
name = "tw2s"
version = "1.0.3"
authors = ["Magic Len <len@magiclen.org>"]
edition = "2018"
repository = "https://github.com/magiclen/tw2s"
homepage = "https://magiclen.org/tw2s"
keywords = ["chinese", "traditional", "simple", "conversion"]
categories = ["command-line-utilities"]
description= "A simple tool for converting Traditional Chinese(TW) to Simple Chinese."
readme = "README.md"
license = "MIT"

[badges.travis-ci]
repository = "magiclen/tw2s"
branch = "master"

[profile.release]
panic = "abort"

[dependencies]
clap = "2.32.0"
path-absolutize = "1.1.3"

[dependencies.opencc-rust]
version = "1.0.7"
features = ["static-dictionaries"]